body{
	padding: 0;
	margin: 0;
	height:3000px;
	overflow: hidden;
	font-family:"GMV DIN Pro Medium";
	
}
.wrapper{
	width:1920px;
	height:900px;
	background:#ffffe9;
	overflow: scroll;
	scroll-behavior: smooth;

}
#trangmot{
	position: relative;
	z-index: 3
}
#trangba{
	position: relative;
	z-index: 3
}
.logo a{
	font-size: 60px;
	position: absolute;
	font-family: "FS Fabrizio";
	font-weight: 500;
	top:15px;
	left: 100px;
	color: #769d3f;
	text-decoration: none;
	
	
}

.icon i{
	position: fixed;
	color: white;
	font-size: 20px;
	float: right;
	padding-left: 140px;
}
.icon i:hover{
	color:#E5CE28;
	transition-duration: 0.5s;
	
}
.menu{
	height: 100px;
	width: 1920px;
	background: #ffffe9;
	position: absolute;
	z-index: 10
	
}
.menu ul{
	padding: 0px;
	list-style: none;
	margin-left: 745px;
	margin-top: 50px;
	

}
.menu ul li{
	padding: 0px 70px;
	float: left;
	
}
.menu ul li a{
	text-decoration: none;
	color: #769d3f;
	transition-duration: 0.5s;
	font-size: 20px;
	
}
.menu ul li a:hover{
	
	color: #ffffe9;
	padding: 5px 7px;
	border-radius: 5px;
	transition-duration: 0.3s;
	background: #769d3f;
}
.noidung .hinh{
	position: relative;
}
.hinh img{
	position: absolute;
	
	height: 900px;
	background-size: cover;
	z-index: 3;
	
}
.noidung
{
	width: 1920px;
	height:900px;
	
}

.noidung .text{
	position: relative;
	
	
}
.noidung .text p{
	position: absolute;
	left: 1050px;
	font-size: 50px;
	top: 140px;
	font-family:"GMV DIN Pro Medium";
	color: white;
	text-align: center;
}
.noidung .text p2{
	position: absolute;
	left: 1000px;
	top: 340px;
	font-size: 30px;
	line-height: 2px;
	
	
}
.noidung .text p2 span{
	font-size: 250px;
	letter-spacing: 1px;
	color: #cfcf44;
	
	font-family: "Arial";
	
	
}
#tranghai .text{
	position: relative;
}
#tranghai .text p{
	position: absolute;
	color: #769d3f;
	font-size: 100px;
	top:250px;
	left: 50px;
	transform: rotate(-90deg)
	
}
#tranghai .text span{
	font-family: "FS Fabrizio";
	
}
.cnt {
	position: relative
}
.cnt .hinh {
	position: absolute;
	width: 600px;
	top:-700px
	
	
}
.hinh .hinh1 {
	height: 148px;
	width: 320px;
	float: left;
	transform: rotateY(45deg);
	margin-left:770px;
	margin-top: 400px;
	border-radius: 7px;
}
.hinh .hinh1 img{
	height:480px;
	width: 800px;
	background-size: cover;
	border-radius: 8px;
	
	
}
.text1{
	position: relative;
	display: inline-block
	
}
#trangba ul {
	width: 1500px;
	height: 800px;
	position: absolute;
	top: 100px;
	left: 110px;
	z-index: 5
	
}
#trangba ul li{
	list-style: none;
	font-size: 70px;
	text-align: center
	
	
}
#trangba ul li a{
	text-decoration: none;
	color:  #769d3f;
	
}
#trangba .i1 a img{
	display: none;
	transition: visibility 0s, opacity 0.5s linear;
}
#trangba .i1  a:hover img{
	display: block;
	position: absolute;
	width: 300px;
	top:80px;
	left: 100px;
	z-index: 1;
	
	
}
#trangba .i2 a img{
	display: none;
}
#trangba .i2  a:hover img{
	display: block;
	position: absolute;
	width: 300px;
	top:-70px;
	left: 235px;
	z-index: 1
}
#trangba .i3 a img{
	display: none
}
#trangba .i3  a:hover img{
	display: block;
	position: absolute;
	width: 300px;
	top:-70px;
	left: 1005px;
	z-index: 1
}
#trangba .i4 a img{
	display: none
}
#trangba .i4  a:hover img{
	display: block;
	position: absolute;
	width: 300px;
	top:-70px;
	left: 1245px;
	z-index: 1;
}
#trangba .i5 a img{
	display: none
}
#trangba .i5  a:hover img{
	display: block;
	position: absolute;
	width: 300px;
	top:200px;
	left: 75px;
	z-index: 1
}
#trangba .i6 a img{
	display: none
}
#trangba .i6  a:hover img{
	display: block;
	position: absolute;
	width: 500px;
	top:200px;
	left: 5px;
	z-index: 1
}
#trangba .i7 a img{
	display: none
}
#trangba .i7  a:hover img{
	display: block;
	position: absolute;
	width: 500px;
	top:-200px;
	left: 905px;
	z-index: 1
}
#trangba .i8 a img{
	display: none
}
#trangba .i8  a:hover img{
	display: block;
	position: absolute;
	width: 500px;
	top:250px;
	left: 1075px;
	z-index: 1
}
#trangbon{
	position: relative
}
#trangbon .text {
	position: absolute;
	text-align: center;
	left: 620px;
	top: 240px
}
#trangbon h1{
	color: #769d3f;
	font-size: 70px;
	font-family: "FS Fabrizio";
	
	
}
#trangbon p1{
	font-size: 45px;
	color: #fca774
}
#trangbon h2{
	color: #769d3f;
	font-size: 40px
}















